# Project-specific ignore rules applicable to all users

#
# Files related to development and testing
#
Jakefile.js
mongodb-uri.mocha.js

########################################################################################################################
#
# TEMPORARY
#
# Below this line are rules that belong in the user's ignore file (usually ~/.npmignore), however there's a known bug
# preventing it from being honored so they are included here. https://github.com/isaacs/npm/issues/2634
#

#
# IntelliJ
#
.idea
*.iml
*.ipr
*.iws

#
# emacs
#
*~
.#*
*#
